<div class="borrowed-activate">
    <h1>Livros emprestados</h1>

    <ul *ngIf="books.length > 0; else NoBooks">
        <li *ngFor="let book of books">
            <app-bookinfo [bookName]="book.name" [status]="book.status" [imagePath]="book.imagePath"
                [description]="book.description" [theme]="book.theme" [edit]="book.id"></app-bookinfo>
        </li>
    </ul>

    <ng-template #NoBooks>
        <p>
            No momento você não emprestou nenhum livro!
        </p>
    </ng-template>
</div>
