<div class="books">
    <h1>Whole books</h1>

    <button *ngIf="isAdm(); else null">
        <a routerLink="add">
            Add Books
        </a>
    </button>

    <ul *ngIf="books.length > 0; else NoBooks">
        <li *ngFor="let book of books">
            <app-bookinfo [bookName]="book.name" [status]="book.status" [imagePath]="book.imagePath"
                [description]="book.description" [theme]="book.theme" [edit]="book.id" (click)="lendBook(book.id)"></app-bookinfo>
        </li>
    </ul>

    <ng-template #NoBooks>
        <p>
            No momento estamos sem livros disponíveis.
        </p>
    </ng-template>
</div>