.user-profile {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-profile h1 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

.user-profile p {
    margin-bottom: 10px;
    color: #666;
}

.user-profile h2 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #333;
}

.user-profile ul {
    list-style-type: none;
    padding: 0;
}

.user-profile li {
    margin-bottom: 8px;
}

.user-profile:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    aspect-ratio: 5/4;
}

#friendship {
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    height: auto;
    background-color: cadetblue;
    color: white;
    border: white;
    transition: 0.25s;
}

#friendship:hover{
    transform: scale(1.05);
}
