<div class="user-profile">
    <img *ngIf="userProfile?.imagePath !== 'assets/img/null'; else null" 
    [src]="userProfile?.imagePath" alt="imagem usuário">
    
    <h1>{{ userProfile?.name }}</h1>
    <p>Username: {{ userProfile?.userName }}</p>
    <p>Email: {{ userProfile?.email }}</p>

    <button id="friends" (click)="openFriendsModal()">
        Friends: {{friends.length}}
    </button>

    <div class="modal-container" *ngIf="showFriendsModal">
        <div class="modal-content">
            <p>Amigos de {{userProfile?.name}}</p>
            <div class="container-users">
                <span *ngIf="friends !== null && friends.length > 0" class="user-info-container">
                    <p *ngFor="let friend of friends" class="user-info" (click)="closeFriendsModal()">
                        <app-userinfo [user]="friend"></app-userinfo>
                    </p>
                </span>
                <div *ngIf="friends === null || friends.length === 0" class="no-friends-message">
                    {{userProfile?.name}} não possui nenhum amigo no momento.
                </div>
            </div>
            <button class="close-button" (click)="closeFriendsModal()">X</button>
        </div>
    </div>

    <div class="verification" *ngIf="!isUserSessionProfile()">
        <button *ngIf="existsFriendShip(); else amigos" (click)="sendFriendShipRequest()" id="friendship">
            Solicitar amizade
        </button>
    
        <ng-template #amigos>
            <button id="friendship other-button" (click)="deleteFriendShip()">Seu amigo</button>
        </ng-template>
    </div>

    <h2>Lend Books</h2>
    <ul *ngFor="let book of books">
        <app-bookinfo [bookName]="book.name" [status]="book.status" [imagePath]="book.imagePath"
            [description]="book.description" [theme]="book.theme" [edit]="book.id"></app-bookinfo>
    </ul>

    <h2>Books that {{ userProfile?.name }} saved</h2>
    <ul *ngFor="let savedBook of savedBooks">
        <app-bookinfo [bookName]="savedBook.name" [status]="savedBook.status" [imagePath]="savedBook.imagePath"
        [description]="savedBook.description" [theme]="savedBook.theme" [edit]="savedBook.id"></app-bookinfo>
    </ul>

    <h2>Books already read</h2>
    <ul *ngFor="let readBook of readBooks">
        <app-bookinfo [bookName]="readBook.name" [status]="readBook.status" [imagePath]="readBook.imagePath"
        [description]="readBook.description" [theme]="readBook.theme" [edit]="readBook.id">
        </app-bookinfo>
    </ul>

</div>