mat-card {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

mat-form-field {
    width: 100%;
    margin-top: 15px;
}

button.visibilityIcon {
    margin-top: 15px;
}

input[type="file"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: #777;
}

input[type="file"]:not(:placeholder-shown) {
    background-color: #fff;
    border-color: #2196F3;
}