<mat-card class="comment-info" *ngIf="showComment; else null">
    <mat-card-header>
        <div class="mat-mdc-card-header-text">
            <mat-card-title>
                <a id="router-link-a" [routerLink]="linkUrlPerson">
                    {{ commentUser?.name }}
                </a>
            </mat-card-title>
        </div>
    </mat-card-header>

    <mat-card-content>
        {{ commentText }}
    </mat-card-content>

    <mat-card-actions>
        <i *ngIf="commentSessionEquals(); else null" class="material-icons" (click)="deleteComment()" id="delete-button">
            delete
        </i>
    </mat-card-actions>

    <form id="form-comment" *ngIf="isReply" (submit)="addComment()" [formGroup]="newCommentForm">
        <mat-form-field appearance="fill" id="text-user">
            <textarea matInput placeholder="Add a comment" formControlName="newCommentText" required></textarea>
        </mat-form-field>
        <button id="new-comment" type="submit">Add Comment</button>
    </form>

    <div *ngIf="commentListComments && commentListComments.length > 0">
        <div *ngFor="let childComment of commentListComments">
            <app-commentinfo *ngIf="childComment.user; else null"
                [commentId]="childComment.id"
                [commentText]="childComment.text"
                [commentUser]="childComment.user"
                [commentListComments]="childComment.replies"
                [bookId]="bookId"
                [isReply]="false">
            </app-commentinfo>
        </div>
    </div>
</mat-card>
