@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.title-group, .header .links, .header a, .header {
    display: flex;
}

.header {
    align-items: center;
    font-family: "Roboto Mono", monospace;
    padding: 20px;
    justify-content: space-between;
    background-color: white;
    z-index: 10000;
}

.mat-toolbar h1{
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 400;
}

.mat-elevation-z4 {
    box-shadow: unset;
}

.header a {
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.mat-toolbar a {
    font-weight: 400;
}

.title-group a {
    gap: 6px;
    font-size: 16px;
}

.title-group a i {
    user-select: none;
}

.header .links {
    gap: 40px;
}

#logout-select {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #3F88C5;
    border-radius: 4px;
    padding: 5px 10px;
}

#logout-option a {
    color: #000000;
    text-decoration: none;
}

#select-cadastro {
    display: flex;
    flex-direction: column;
}

#select-cadastro a, #login-select, #select-logout {
    text-decoration: none;
}

#login-select {
    color: #000000;
}

#select-logout{
    display: flex;
}

#button-login {
    background-color: #174acb;
    color: #F0FAFF;
    width: 90px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
}

.title-group.home {
    cursor: pointer;
}

mat-select {
    width: 200px;
    font-size: 16px;
    color: #333;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    outline: none; 
}

mat-select span {
    color: #000000d3;  
}

.mat-mdc-select {
    font-family: "Roboto Mono", monospace;
    text-transform: capitalize;
}

.mat-mdc-select-min-line {
    text-transform: capitalize;
}

mat-option {
    font-size: 16px;
    color: #333;
}

mat-option.mat-selected {
    background-color: #e0e0e0;
}