<mat-toolbar class="header mat-elevation-z4">
    <span class="title-group home" routerLink="/" routerLinkActive="active-link">
        <h1>Between The Lines</h1>
    </span>

    <div class="links">  
        
        <span class="title-group profiles" routerLink="/userprofile" routerLinkActive="active-link">
            <a>
                Profiles
            </a>
        </span>
        
        <span class="title-group borrowed" routerLink="/borrowed" routerLinkActive="active-link">
            <a>
                Borrowed
            </a>
        </span>

        <span class="title-group book">
            <mat-select placeholder="Books" (selectionChange)="onGenreChange($event)">
                <mat-option [value]="'TODOS'" [routerLink]="['/books/genre/TODOS']">TODOS</mat-option>
                <mat-option [value]="'AVENTURA'">AVENTURA</mat-option>
                <mat-option [value]="'FICCAO'">FICÇÃO</mat-option>
                <mat-option [value]="'DRAMA'">DRAMA</mat-option>
                <mat-option [value]="'ROMANCE'">ROMANCE</mat-option>
                <mat-option [value]="'MISTERIO'">MISTÉRIO</mat-option>
                <mat-option [value]="'FANTASIA'">FANTASIA</mat-option>
                <mat-option [value]="'SUSPENSE'">SUSPENSE</mat-option>
                <mat-option [value]="'POLICIAL'">POLICIAL</mat-option>
                <mat-option [value]="'COMEDIA'">COMÉDIA</mat-option>
                <mat-option [value]="'BIOGRAFIA'">BIOGRAFIA</mat-option>
                <mat-option [value]="'HISTORIA'">HISTÓRIA</mat-option>
                <mat-option [value]="'CIENCIA'">CIÊNCIA</mat-option>
                <mat-option [value]="'TECNOLOGIA'">TECNOLOGIA</mat-option>
            </mat-select>
        </span>

        <span class="title-group login-logout">
            <ng-container *ngIf="sessionIs(); else Logout">
                <button mat-flat-button routerLink="/login" routerLinkActive="active-link" id="button-login">
                        Login
                </button>
            </ng-container>
        </span>

        <ng-template #Logout>
            <mat-select id="logout-select" placeholder="Opções de cadastro">
                <mat-option id="logout-option" (click)="routerProfile()">
                    <a id="select-cadastro">
                        <i class="material-icons">gear</i>
                        Perfil
                    </a>
                </mat-option>

                <mat-option id="logout-option">
                    <a id="select-cadastro" routerLink="/userconfig" routerLinkActive="active-link">
                        <i class="material-icons">gear</i>
                        Alterar cadastro
                    </a>
                </mat-option>

                <mat-option id="logout-option">
                    <a id="select-logout" (click)="outSession()">
                        <i class="material-icons">exit_to_app</i>
                        Logout
                    </a>
                </mat-option>
            </mat-select>
        </ng-template>

    </div>

</mat-toolbar>

<router-outlet></router-outlet>