.title-group, .header .links, .header a, .header {
    display: flex;
}

.header {
    align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    justify-content: space-between;
    background-color: #3F88C5;
    color: #F1FAFF;
}

.header a {
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.title-group a {
    gap: 6px;
    font-size: 17px;
}

.title-group a i {
    user-select: none;
}

.header .links {
    gap: 40px;
}

#logout-select {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #3F88C5;
    border-radius: 4px;
    padding: 5px 10px;
}

#logout-option a {
    color: #000000;
    text-decoration: none;
}

#select-cadastro {
    display: flex;
    flex-direction: column;
}

#select-cadastro a, #login-select, #select-logout {
    text-decoration: none;
}

#login-select {
    color: #F1FAFF;
}

#select-logout{
    display: flex;
}
